/* $ID: b-body.css, Fri Nov 11 2011 13:12:40 GMT+0300 (MSK), Leonid 'n3o' Knyazev $ */
/* Begin: b-body */
.b-body {
	position: relative;
	
	background-image: url('//img.knyazev.me/system/_blocks/b-body/b-body.bg.png');
	background-repeat: repeat;
	background-position: 0 0;
/*
	background-attachment: fixed;
*/
}
/* End: b-body */

